<!doctype html>
<html>
<head>
    <title>Live Bitcoin Rates</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="icon-btc"></span>Live Bitcoin Rates</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">BitFinex</th>
                    <th scope="col">OKCoin</th>
                    <th scope="col">GDAX</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="bid"></td>
                    <td id="bid1"></td>
                    <td id="bid2"></td>
                </tr>
        </table>
    
    
    
    
        <script>
            //first
    
            var ws = new WebSocket("wss://real.okcoin.com:10440/websocket");
            ws.onopen = function () {
                ws.send(JSON.stringify({
                    "event": "addChannel",
                    "channel": "ok_sub_spot_btc_usd_ticker",
                }));
            };
    
            ws.onmessage = function (msg) {
                var response = JSON.parse(msg.data);
                console.log(response);
    
                for (var key in response) {
                    if (response.hasOwnProperty(key)) {
                        document.getElementById("bid1").textContent = "$" + response[key].data.sell;
                    }
                }
            };
    
            //second
    
            var ws1 = new WebSocket("wss://api.bitfinex.com/ws");
            ws1.onopen = function () {
                ws1.send(JSON.stringify({
                    "event": "subscribe",
                    "channel": "ticker",
                    "pair": "BTCUSD"
                }));
            };
    
            ws1.onmessage = function (msg) {
                var response = JSON.parse(msg.data);
                console.log(response);
    
                var hb = response[1];
                if (hb != "hb") {
                    document.getElementById("bid").textContent = "$" + response[1];
                }
            };
    
            //third
    
            var ws2 = new WebSocket("wss://ws-feed.gdax.com");
            ws2.onopen = function () {
                ws2.send(JSON.stringify({
                    "type": "subscribe",
                    "product_ids": [
                        "BTC-USD"
                    ],
                    "channels": ["ticker"]
                }));
            };
    
            ws2.onmessage = function (msg) {
                var response = JSON.parse(msg.data);
                console.log(response);
    
                for (var key in response) {
                    if (response.hasOwnProperty(key)) {
                        document.getElementById("bid2").textContent = "$" + response["price"];
                    }
                }
            }
    
        </script>

</body>
</html>
